<div class="flex items-center justify-between w-full">
	<div class="text-3xl">{{ title }}</div>
	<div>
		<input type="text" class="bg-green-300" />
	</div>
	<div class="flex gap-9 items-center">
		<div class="flex gap-5">
			<svg-icon src="./assets/icons/bell.svg" class="w-5 h-5 cursor-pointer"></svg-icon>
			<svg-icon src="./assets/icons/messages.svg" class="w-5 h-5 cursor-pointer"></svg-icon>
		</div>
		<app-avatar-user name="Jesus Raul" position="Programmer"></app-avatar-user>
	</div>
</div>
